{% extends 'layout/layout.html' %}
{% block head %}{% include 'layout/initial-style.html' %}{% endblock %}
{% block body %}
<body data-require="drive">
	<section class="topbar">
		<h2>Drive do celo</h2>
	</section>

	<section class="drive-body">
		<div class="floating-bar">
			<div class="tr">
				<div class="left">
					<a href="#" class="btn btn-breadcumb">Meu drive</a> >
					<a href="#" class="btn btn-breadcumb">Folder 01</a>
				</div>
				<div class="right">
					<button type="button" class="btn btn-action">Upload!</button>
					<button type="button" class="btn btn-action">Create directory</button>
				</div>
			</div>
		</div>
		<div class="tr tr-h">
			<div class="ti ti-8"><span class="ti-content">Name</span></div>
			<div class="ti ti-4"><span class="ti-content">Size</span></div>
		</div>
		<div class="drive-show-items">
		</div>
	</section>
	<script data-main="/javascripts/main.js" src="/vendor/requirejs/require.js"></script>
</body>
{% endblock %}