{% extends 'layout/layout.html' %}
{% block head %}{% include 'layout/initial-style.html' %}{% endblock %}
{% block body %}
<body data-require="drive">
	<section class="topbar">
		<h2>Drive do celo</h2>
	</section>

	<div class="clearfix body">
		<div class="left sidebar">
			<ul>
				<li><a href="#">Drive</a></li>
			</ul>
		</div>
		<div class="left body-list">
			<section class="drive-body">
				<div class="floating-bar">
					<div class="tr">
						<div class="left">
							<a href="#" class="btn btn-breadcumb drive-action-back"><i class="material-icons md-18">arrow_back</i> Go back</a>
						</div>
						<div class="right">
							<button type="button" class="btn btn-action" onclick="javascript:upload();"><i class="material-icons md-18">cloud_upload</i> Upload</button>
							<button type="button" class="btn btn-action" onclick="javascript:mkdir();"><i class="material-icons md-18">folder</i> Create directory</button>
						</div>
					</div>
				</div>
				<div class="tr tr-h">
					<div class="ti ti-8"><span class="ti-content">Name</span></div>
					<div class="ti ti-4"><span class="ti-content">Size</span></div>
				</div>
				<div class="drive-show-items">
					<div class="tr tr-b">
						<div class="ti"><span class="ti-content">Loading...</span></div>
					</div>
				</div>	
			</section>
		</div>
	</div>

	<section class="notify">
		<div class="drive-notify">
			<span class="drive-notify-text"></span>
			<a href="#" class="drive-notify-close"><i class="material-icons">close</i></a>
		</div>
	</section>

	<section class="uploadList">
		<a href="#" class="uploadHead">Arquivos para upload</a>
		<div class="uploadListBody">
			<div class="drive-upload-list"></div>
		</div>
	</section>

	<!-- Upload input -->
	<input type="file" name="upload" multiple class="drive-input-upload">

	<!-- Input to simulate focusout -->
	<input type="text" id="focusOutTrigger" style="display: block; width: 0; height: 0; overflow: hidden; border: none;">
	<script data-main="/javascripts/main.js" src="/vendor/requirejs/require.js"></script>
</body>
{% endblock %}