a {
	color: inherit;
	text-decoration: none;
}
.clearfix
, .tr {
	content: "";
  display: table;
  clear: both;
  width: 100%;
}
.material-icons {
	vertical-align: middle;
}
.material-icons.md-16 {
	font-size: 16px;
}
.material-icons.md-18 {
	font-size: 18px;
}

.left { float: left; }
.right { float: right; }

.tr {
	color: #333;
	line-height: 28px;
}
.tr-h {
	background-color: #fafafa;
}
.tr-b {
	background-color: #fff;
	color: #555;
}
.tr-b + .tr-b {
	border-top: 1px solid #efefef;
}
.tr .ti {
	float: left;
}
.ti-4 {
	width: 33.33%;
}
.ti-8 {
	width: 66.66%;
}
.ti-12 {
	width: 100%;
}
.tr .ti .ti-content {
	padding: 15px;
	display: block;
}

.floating-bar {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 15px;
	box-shadow: 1px 1px 3px #aaa;
}

.btn-breadcrumb:hover {
	border-color: #ddd;
}
.btn-action {
	color: #fff;
	border-color: #D34E4E;
	background-color: #D34E4E;
	/*box-shadow: 1px 1px 3px #aaa;*/
}
.btn-list:hover {
	color: #D34E4E;
	border-color: #D34E4E;
}
.btn+.btn {
	margin-left: 10px;
}

.tr-input {
  display: inline-block;
  padding: 5px;
  width: 35%;
  border: 1px solid #ddd;
  line-height: 16px;
  font-size: 14px;
  color: #666;
}

.breadcrumb {
	display: inline-block;
	margin-left: 20px;
}
.breadcrumb .active {
	font-weight: bold;
}

/*
* Notify
*/
.notify {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 0;
	z-index: 2;
}
.drive-notify {
	position: absolute;
	bottom: -60px;
	left: 20px;
	padding: 20px 60px 20px 20px;
	width: 220px;
	background-color: #333;
	color: #fff;
	font-size: 16px;
	box-shadow: 4px 4px 7px #aaa;
	border-radius: 3px;
	transition: 0.2s bottom ease;
}
.drive-notify.open {
	bottom: 20px;
}
.drive-notify-close {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -12px;
	height: 24px;
  display: block;
}

.drive-input-upload {
	display: block;
	position: relative;
	width: 1px;
	height: 0;
	overflow: hidden;
}

/*
* Upload
*/
.upload-list {
	position: fixed;
	bottom: 0;
	right: 30px;
	width: 450px;
	background-color: #fff;
}
.upload-list .upload-list-head {
	display: block;
	padding: 10px;
	background-color: #333;
	color: #fff;
}
.upload-list .upload-list-body {
	display: none;
	padding: 20px;
}
.upload-list .upload-list-body.open {
	display: block;
}
.drive-upload-item span {
	display: block;
}
.upload-item-name {
	padding: 5px;
}
.drive-progress {
	position: relative;
	padding: 5px 10px;
	width: 50px;
}
.drive-progress-text {
	position: relative;
	z-index: 2;
}
.drive-progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	z-index: 1;
	background-color: #ccc;
	transition: .1s width linear;
}


#focus-out-trigger {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	border: none;
}


.debug {
	margin: 30px;
	background-color: #fff;
}