a {
	color: inherit;
	text-decoration: none;
}
.material-icons.md-18 {
	font-size: 18px;
	vertical-align: bottom;
}

.tr {
	display: flex;
	color: #333;
	line-height: 18px;
}
.tr-h {
	background-color: #fafafa;
}
.tr-b {
	background-color: #fff;
	color: #555;
}
.tr .ti {
	float: left;
	padding: 15px;
}
.ti-4 {
	width: 33.33%;
}
.ti-8 {
	width: 66.66%;
}