style(type="text/css").
	* {
		margin: 0;
		padding: 0;
	}
	body {
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 14px;
		font-weight: 300;
		background-color: #eee;
	}
	.topbar {
		padding: 20px;
		background: #fff;
		box-shadow: 0px 1px 3px #aaa;
		position: relative;
		z-index: 2;
	}
	.btn {
		display: inline-block;
		font-family: 'Roboto', Arial, sans-serif;
		color: inherit;
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 3px;
	}
	.btn-normal {
		padding: 8px;
		line-height: 14px;
	}
	.btn-small {
		padding: 5px;
		line-height: 12px;
	}
	.sidebar {
		width: 15%;
		min-width: 150px;
		background-color: #eee;
		position: relative;
		z-index: 1;
	}
	/*
	.body-list {
		width: 85%;
	}
	*/
	.drive-body {
		padding: 30px;
	}
